<?xml version="1.0" encoding="utf-8"?>
<resources>

<!-- Rename this file to external_strings_debug.xml on local dev machines
and uncomment the body for dev-machine specific keys

    <string name="app_build_date_debug">DEV</string>
    <string name="app_build_number_debug">DEV</string>
    <string name="maps_api_key_debug">YOUR_KEY</string>
    
-->
    
</resources>