syntax: glob
app/res/values/external_strings_dev.xml
app/key.properties
app/local.properties
app/bin/*
app/buildtmp/*
app/dist/*
app/gen/*
app/assets/testing*
test-app/bin/*
test-app/gen/*
**/bin/**
commcare-odk-test/gen/*
*.rej
*.orig
*.swp
*.iml
*.db
*.properties
.hg*
.svn*
/app/.cache
/app/proguard_cache/
.DS_Store
.gitignore~
.idea/*
app/.settings/*
app/app.iml
out/
test-app/test-app.iml
**/.settings/
app/libs/commcare-libraries.jar
app/libs/javarosa-libraries.jar
**/local.properties
.gradle/
build/
**/*~
gradle/
