<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.commcare.android"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:theme="@android:style/Theme.Light" android:name=".application.CommCareApplication">
        <activity android:label="@string/app_name" android:name=".activities.CommCareHomeActivity" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    
<activity android:label="@string/app_name" android:name=".activities.LoginActivity"></activity>
<activity android:name=".activities.MenuList"></activity>
<activity android:name=".activities.EntitySelectActivity"></activity>
<activity android:name=".activities.EntityDetailActivity"></activity>

<provider android:name="org.commcare.android.providers.PreloadContentProvider" android:authorities="org.commcare.preloadprovider" />

<activity android:name=".preferences.ServerPreferences"></activity>
<activity android:name="org.commcare.android.activities.DotsEntryActivity">
    <intent-filter>
    	<action android:name="org.commcare.android.action.DotsEntry"/>
		<category android:name="android.intent.category.DEFAULT"/>
    </intent-filter>
    <!-- this is what we should be doing once we have the content provider working -->
    <intent-filter>
    	<action android:name="android.intent.action.VIEW" />
    	<action android:name="android.intent.action.EDIT" />
    	<category android:name="android.intent.category.DEFAULT"/>
    	<!-- need to add something like:
    	 <data android:mimeType="vnd.android.cursor.item/vnd.google.note" />
    	 here once we make a contentProvider for forms.
    	 -->
    </intent-filter>   
</activity>
<activity android:name=".activities.CallOutActivity"></activity>
<activity android:name=".activities.CommCareStartupActivity" android:configChanges="orientation"></activity>
<provider android:authorities="org.commcare.fileprovider" android:name="org.commcare.android.providers.CommCareFileContentProvider"></provider>
</application>

<uses-library android:name="org.javarosa" />
<uses-library android:name="org.commcare" />

  <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.INTERNET"/>
  <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.ACCESS_SURFACE_FLINGER"/>
  <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
</manifest> 