<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.commcare.dalvik"
          android:versionCode="106"
          android:versionName="2.29">

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:name="android.permission.INTERNET"/>
    <uses-permission
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>

    <permission
        android:name="${applicationId}.provider.cases.read"
        android:description="@string/permission_content_provider_description"
        android:label="@string/permission_content_provider_label"
        android:protectionLevel="dangerous">
    </permission>

    <application
        android:allowBackup="false"
        tools:replace="android:label,android:icon"
        android:name="org.commcare.CommCareApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name="org.commcare.activities.DispatchActivity"
            android:theme="@style/SplashTheme"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.action.CommCareSession"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="org.commcare.activities.AppManagerActivity"
            android:label="@string/manager_activity_name"
            android:taskAffinity="org.commcare.Manage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name="org.commcare.activities.LoginActivity"
            android:label="@string/application_name"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="org.commcare.activities.CrashWarningActivity"
            android:label="CommCare Forced Closure">
        </activity>

        <activity android:name="org.commcare.activities.CommCareHomeActivity"/>
        <activity android:name="org.commcare.activities.MenuList"/>
        <activity android:name="org.commcare.activities.MenuGrid"/>

        <provider
            android:name="org.commcare.provider.FormsProvider"
            android:exported="true"
            android:authorities="${odkProvider}.forms"/>
        <provider
            android:name="org.commcare.provider.InstanceProvider"
            android:exported="true"
            android:authorities="${odkProvider}.instances"/>
        <provider
            android:name="org.commcare.provider.CaseDataContentProvider"
            android:authorities="${applicationId}.case"
            android:enabled="true"
            android:exported="true"
            android:readPermission="${applicationId}.provider.cases.read"/>
        <provider
            android:name="org.commcare.provider.FixtureDataContentProvider"
            android:authorities="${applicationId}.fixture"
            android:enabled="true"
            android:exported="true"
            android:readPermission="${applicationId}.provider.cases.read"/>

        <activity android:name="org.commcare.preferences.CommCarePreferences">
        </activity>
        <activity android:name="org.commcare.activities.DotsEntryActivity">
            <intent-filter>
                <action android:name="${applicationId}.action.DotsEntry"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="org.commcare.activities.CallOutActivity">
        </activity>
        <activity
            android:name="org.commcare.activities.CommCareSetupActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <data android:mimeType="commcare/profile"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.ccpr"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="https"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.ccpr"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.ccpr"/>
            </intent-filter>
            <intent-filter android:icon="@mipmap/ic_launcher">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.ccz"
                    android:scheme="file"/>
            </intent-filter>
            <intent-filter android:icon="@mipmap/ic_launcher">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.ccz"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.commcare.activities.UpdateActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="org.commcare.activities.SingleAppManagerActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="org.commcare.activities.EntitySelectActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
        </activity>
        <activity
            android:name="org.commcare.activities.CommCareGraphActivity">
        </activity>
        <activity
            android:name="org.commcare.activities.EntityDetailActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="org.commcare.activities.FormRecordListActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <service
            android:name="org.commcare.services.CommCareSessionService"
            android:enabled="true">
        </service>

        <activity
            android:name="org.commcare.activities.FormEntryActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="org.commcare.activities.DrawActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="org.commcare.activities.FormHierarchyActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="org.commcare.activities.GeoPointActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="org.commcare.activities.GeoPointMapActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="org.commcare.preferences.FormEntryPreferences"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="org.commcare.activities.InstallArchiveActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name="org.commcare.activities.EntityMapActivity">
        </activity>
        <activity android:name="org.commcare.activities.RefreshToLatestBuildActivity">
        </activity>

        <uses-library
            android:name="org.javarosa"
            android:required="false"/>
        <uses-library
            android:name="org.commcare"
            android:required="false"/>
        <uses-library
            android:name="com.google.android.maps"
            android:required="false"/>

        <activity android:name="org.commcare.activities.MessageActivity">
        </activity>

        <receiver android:name="org.commcare.views.notifications.NotificationClearReceiver">
        </receiver>

        <activity
            android:name="org.commcare.activities.ReportProblemActivity"
            android:label="@string/title_activity_report_problem">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.commcare.activities.CommCareSetupActivity"/>
        </activity>
        <activity
            android:name="org.commcare.activities.CommCareVerificationActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="org.commcare.activities.UnrecoverableErrorActivity"
            android:theme="@style/Theme.Transparent">
        </activity>
        <activity
            android:name="org.commcare.activities.KeyAccessRequestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.action.CommCareKeyAccessRequest"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:name="org.commcare.provider.ExternalApiReceiver">
            <intent-filter>
                <action android:name="${applicationId}.api.action.ExternalAction"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver android:name="org.commcare.provider.RefreshToLatestBuildReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="${applicationId}.api.action.RefreshToLatestBuildAction"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver android:name="org.commcare.provider.DebugControlsReceiver">
            <intent-filter>
                <action android:name="${applicationId}.api.action.SessionCaptureAction"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.api.action.UninstallApp"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.api.action.LoginWithCreds"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <activity android:name="org.commcare.activities.MultimediaInflaterActivity">
        </activity>
        <activity
            android:name="org.commcare.activities.CommCareFormDumpActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="org.commcare.activities.AdvancedActionsActivity"/>
        <activity
            android:name="org.commcare.preferences.CommCareServerPreferences"/>
        <activity
            android:name="org.commcare.activities.ConnectionDiagnosticActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="org.commcare.activities.CommCareWiFiDirectActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="org.commcare.activities.RecoveryActivity">
        </activity>
        <activity android:name="org.commcare.preferences.DeveloperPreferences">
        </activity>
        <activity
            android:name="org.commcare.activities.TemplatePrinterActivity"
            android:theme="@style/Theme.Dialog.NoTitle">
            <intent-filter>
                <action android:name="${applicationId}.action.PRINT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.commcare.activities.SeatAppActivity">
        </activity>
        <activity android:name="org.commcare.activities.PostRequestActivity"/>
        <activity android:name="org.commcare.activities.QueryRequestActivity"/>
        <activity
            android:name="org.commcare.activities.CreatePinActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity
            android:name="org.commcare.activities.PinAuthenticationActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <!-- Start Collect Manifest -->

        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <action android:name="android.intent.action.EDIT"/>

            <category android:name="android.intent.category.DEFAULT"/>

            <data android:mimeType="vnd.android.cursor.dir/vnd.odk.instance"/>
        </intent-filter>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googlePlayMapsApiKey}"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
