<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.commcare.dalvik"
          android:versionCode="106"
          android:versionName="2.24">

    <uses-sdk
        tools:overrideLibrary="com.etsy.android.grid"
        tools:replace="minSdkVersion" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:name="android.permission.INTERNET" />
    <uses-permission
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- for call log -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- Start COllect Permissions -->

    <uses-permission
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <permission
        android:name="org.commcare.dalvik.provider.cases.read"
        android:description="@string/permission_content_provider_description"
        android:label="@string/permission_content_provider_label"
        android:protectionLevel="dangerous" >
    </permission>

    <application
        tools:replace="android:label,android:icon"
        android:name=".application.CommCareApplication"
        android:icon="@drawable/icon"
        android:label="@string/application_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".activities.CommCareHomeActivity"
            android:label="@string/application_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.commcare.dalvik.action.CommCareSession" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AppManagerActivity"
            android:label="@string/manager_activity_name"
            android:launchMode="singleTask" android:taskAffinity="org.commcare.Manage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/application_name"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity
            android:name=".activities.CrashWarningActivity"
            android:label="CommCare Forced Closure" >
        </activity>

        <activity android:name=".activities.MenuList" />
        <activity android:name=".activities.MenuGrid" />

        <provider
            android:name=".odk.provider.FormsProvider"
            android:exported="true"
            android:authorities="org.commcare.android.provider.odk.forms" />
        <provider
            android:name=".odk.provider.InstanceProvider"
            android:exported="true"
            android:authorities="org.commcare.android.provider.odk.instances" />
        <provider
            android:name=".provider.CaseDataContentProvider"
            android:authorities="org.commcare.dalvik.case"
            android:enabled="true"
            android:exported="true"
            android:readPermission="org.commcare.dalvik.provider.cases.read" />
        <provider
            android:name=".provider.FixtureDataContentProvider"
            android:authorities="org.commcare.dalvik.fixture"
            android:enabled="true"
            android:exported="true"
            android:readPermission="org.commcare.dalvik.provider.cases.read" />

        <activity android:name=".preferences.CommCarePreferences" >
        </activity>
        <activity android:name=".activities.DotsEntryActivity" >
            <intent-filter>
                <action android:name="org.commcare.dalvik.action.DotsEntry" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CallOutActivity" >
        </activity>
        <activity
            android:name=".activities.CommCareSetupActivity"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:mimeType="commcare/profile" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.ccpr" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.ccpr" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.ccpr" />
            </intent-filter>
            <intent-filter android:icon="@drawable/icon" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.ccz"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter android:icon="@drawable/icon" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.ccz" />
            </intent-filter>
        </activity>
        <!-- Enable Shortcuts for Command Actions -->
        <activity
            android:name=".application.AndroidShortcuts"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".application.ManagerShortcut" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".application.ShortcutGenerator"
            android:label="CommCare Action"
            android:targetActivity=".application.AndroidShortcuts" >

            <!-- This intent-filter allows your shortcuts to be created in the launcher. -->
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".application.ManagerGenerator"
            android:label="App Manager"
            android:targetActivity=".application.ManagerShortcut" >

            <!-- This intent-filter allows your shortcuts to be created in the launcher. -->
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activities.SingleAppManagerActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activities.EntitySelectActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize" >
        </activity>
        <activity
            android:name=".activities.EntityDetailActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activities.FormRecordListActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name=".services.CommCareSessionService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".activities.CallLogActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activities.MessageLogActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activities.PhoneLogActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" >
        </activity>
        <activity
            android:name="org.odk.collect.android.activities.FormEntryActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="org.odk.collect.android.activities.DrawActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="org.odk.collect.android.activities.FormHierarchyActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="org.odk.collect.android.activities.GeoPointActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="org.odk.collect.android.activities.GeoPointMapActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="org.odk.collect.android.preferences.PreferencesActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="org.commcare.dalvik.activities.InstallArchiveActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity android:name=".activities.EntityMapActivity" >
        </activity>

        <uses-library
            android:name="org.javarosa"
            android:required="false" />
        <uses-library
            android:name="org.commcare"
            android:required="false" />
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <activity android:name=".activities.MessageActivity" >
        </activity>

        <receiver android:name="org.commcare.android.models.notifications.NotificationClearReceiver" >
        </receiver>

        <activity
            android:name=".activities.ReportProblemActivity"
            android:label="@string/title_activity_report_problem" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.commcare.dalvik.activities.CommCareSetupActivity" />
        </activity>
        <activity
            android:name=".activities.CommCareVerificationActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activities.UnrecoverableErrorActivity"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity android:name=".activities.KeyAccessRequestActivity"
            android:exported="true">>
            <intent-filter>
                <action android:name="org.commcare.dalvik.action.CommCareKeyAccessRequest" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="org.commcare.android.api.ExternalApiReceiver" >
            <intent-filter>
                <action android:name="org.commcare.dalvik.api.action.ExternalAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.MultimediaInflaterActivity" >
        </activity>
        <activity android:name=".activities.CommCareFormDumpActivity"
                  android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name=".activities.ConnectionDiagnosticActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name=".activities.CommCareWiFiDirectActivity" >
        </activity>
        <activity android:name=".activities.RecoveryActivity" >
        </activity>
        <activity android:name=".preferences.DeveloperPreferences" >
        </activity>
        <activity
            android:name=".activities.TemplatePrinterActivity"
            android:theme="@style/Theme.Dialog.NoTitle" >
            <intent-filter>
                <action android:name="org.commcare.dalvik.action.PRINT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SeatAppActivity" >
        </activity>

        <!-- Start Collect Manifest -->

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <action android:name="android.intent.action.EDIT" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:mimeType="vnd.android.cursor.dir/vnd.odk.instance" />
        </intent-filter>

    </application>
</manifest>