## Set the following properties to enable application signing using a java keystore
## as part of your automated ANT build process.
 
#key.store=
#key.alias=
#key.store.password=
#key.alias.password=
#maps.api.key=
#ACRA_USER=
#ACRA_PASSWORD=
#ACRA_URL=