#chart-title {
    text-align: center;
    display: none;
}

path {
    stroke-linecap: round;
}

text, #tooltip, #error {
    font-family: sans-serif;
    font-size: 12px;
}

text, #tooltip {
    fill: #000 !important;
}

#error {
    display: none;
    background-color: #efcfcb;
    border: 1px solid #e53e30;
    border-radius: 5px;
    padding: 10px;
}

/* Tooltip */
#tooltip {
    background-color: white;
    border: 1px solid black;
}

#tooltip table td {
    padding: 5px;
}

#tooltip table td:not(:first-child) {
    text-align: right;
    background-color: line;
}

/* Thicken graph lines */
.c3-lines path {
    stroke-width: 3;
}

/* Hide system-generated series */
g.c3-chart-line.c3-target.c3-target-boundsY,
g.c3-chart-line.c3-target.c3-target-boundsY2 {
    display: none;
}